
  <% @restaurants.each do |restaurant| %>
 <h1> <%= restaurant.name %></h1>
  <h3><%= restaurant.address %></h3>
  <h4><%= restaurant.phone_number %></h4>
  <h4><%= restaurant.category %></h4>
<% end %>
